:root {
    --body-font: "Vidaloka", serif, system-ui;
    --title-font: "Trocchi", serif, system-ui;
    --bground: oklch(96.69% 0.0232 82.12);
    --text: oklch(34.16% 0.0746 237.6);
    --footer: oklch(60.86% 0.0608 139.44);
    --accent: oklch(77.94% 0.1325 60.89);
    --elem1: oklch(84.9% 0.0246 180.53);
    --elem2: oklch(65.02% 0.1025 209.34);
    --elem3: oklch(61.51% 0.0347 230.66);
    --elem4: oklch(52.52% 0.2027 13.75);
  
  }
  
  html * {
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--bground);
  }
  
  
  .navbar {
    background-color: var(--accent) !important;
    width: 100dvw;
  }
  
  .logo {
    margin-left: 2rem;
    max-width: 150px;
  }
  
  .nav-link {
    color: var(--text);
    font-size: 1.2rem;
    font-family: var(--title-font);
    margin-top: 4rem;
  }
  
  
  
 
    .active {
      border-bottom: 2px solid var(--elem2);
      color: var(--text) !important;
      padding: 10px;
    
    }
  
  
  .offcanvas-body {
    background-color: var(--bground);
  
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='oklch(34.16% 0.0746 237.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler {
    border-color: oklch(34.16% 0.0746 237.6);
    color: oklch(34.16% 0.0746 237.6);
  }
  
  .offcanvas-header {
    background-color: var(--accent);
  }
  /* Navbar End */

  /* Main Start */

  main {
    align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height:180dvh;
  justify-content: center;
  

  }

  .blurb{
    border-radius: 8px;
    color: var(--text);
    font-family: var(--title-font);
    font-size: 14px;
    margin-top: 8dvW;
    padding: 8%;
    text-wrap: pretty;
    width: 100dvw;
  
  }

  .me {
    border-radius: 7px;
    width: 80dvw;
    opacity: 0.7;
  }

  /* Footer */
  footer {
    background-color: var(--bground);
    border-top: 10px solid var(--text);
    display: flex;
    flex-direction: column;
    height: 20dvh;
    padding: 1rem;
  }
  
  footer p {
    font-size: 12px;

  }

  footer i {
    font-size: 24px;
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  /* media queries for desktop and large screen (will work on tablet at later time */

@media screen and (min-width: 1026px) and (max-width: 1440px) {

    .navbar {
      background-color: var(--accent) !important;
      height: 20dvh;
    }
  
    .offcanvas-body {
      background-color: var(--accent) !important;
    }
  
    .nav-link:hover,
    .nav-link:focus {
      border-bottom: 1px solid var(--elem4);
      color: var(--text);
    }

    main {
        align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height:160dvh;
      justify-content: center;
}

.me {
    border-radius: 8px;
    margin-top: 10dvh;
    width: 35dvw;
    opacity: 0.7;
  }

  .blurb{
    border-radius: 8px;
    color: var(--text);
    font-family: var(--title-font);
    font-size: 16px;
    line-height: 2rem;
    padding: 8%;
    text-wrap: pretty;
    width: 50dvw;
  
  }

  footer {
    align-items: center;
    background-color: var(--bground);
    border-top: 10px solid var(--text);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
  }

  footer p {
    font-size: 18px;
  }

  footer i {
    font-size: 24px;
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

}

/* large media */

@media screen and (min-width: 1600px) {
  
  
    .navbar {
      background-color: var(--accent) !important;
    }
  
    .offcanvas-body {
      background-color: var(--accent) !important;
    }
  
    .nav-link:hover,
    .nav-link:focus {
      border-bottom: 1px solid var(--elem4);
      color: var(--text);
    }

    main {
        align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height:160dvh;
      justify-content: center;
}

.me {
    border-radius: 8px;
    margin-top: 10dvh;
    width: 30dvw;
    opacity: 0.6;
  }

  .blurb{
    border-radius: 8px;
    color: var(--text);
    font-family: var(--title-font);
    font-size: 18px;
    line-height: 2.5rem;
    margin-top: 1dvw;
    padding: 6%;
    text-wrap: pretty;
    width: 50dvw;
  
  }

  footer {
    align-items: center;
    background-color: var(--bground);
    border-top: 10px solid var(--text);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
  }

  footer p {
    font-size: 18px;
  }

  footer i {
    font-size: 24px;
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

}