:root {
    --body-font: "Vidaloka", serif, system-ui;
    --title-font: "Trocchi", serif, system-ui;
    --bground: oklch(96.69% 0.0232 82.12);
    --text: oklch(34.16% 0.0746 237.6);
    --footer: oklch(60.86% 0.0608 139.44);
    --accent: oklch(77.94% 0.1325 60.89);
    --elem1: oklch(84.9% 0.0246 180.53);
    --elem2: oklch(65.02% 0.1025 209.34);
    --elem3: oklch(61.51% 0.0347 230.66);
    --elem4: oklch(52.52% 0.2027 13.75);
  
  }
  
  html * {
    box-sizing: border-box;
  }

  body {
    background-color: var(--bground);
  }
    
  .navbar {
    background-color: var(--accent) !important;
    width: 100dvw;
  }
  
  .logo {
    margin-left: 2rem;
    max-width: 150px;
  }
  
  .nav-link {
    color: var(--text);
    font-size: 1.2rem;
    font-family: var(--title-font);
    margin-top: 4rem;
  }
  
  
  
  .active {
    background-color: var(--elem1);
    border-radius: 8px;
    color: var(--text) !important;
    padding: 10px;
  
  }
  
  .offcanvas-body {
    background-color: var(--bground);
  
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='oklch(34.16% 0.0746 237.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler {
    border-color: oklch(34.16% 0.0746 237.6);
    color: oklch(34.16% 0.0746 237.6);
  }
  
  .offcanvas-header {
    background-color: var(--accent);
  }
  
  /* Navbar end */

  /* jumbotron */

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50dvh;
    justify-content: center;
    margin-top: 6dvh;
  }

  .mu1 {
    margin-top: -2rem;
    max-width: 100dvw;
  }
  /* jumbotron end */

  /* main */
  /* section-process */

  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 2rem;
  }

  h1 {
    color: var(--text);
    font-family: var(--body-font);
    font-size:32px;
    margin-bottom: 2rem;
    margin-left: 5dvw;
    margin-top: 2rem;
   
  }

  h2 {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 24px;
    margin-bottom: 2rem;
    align-self: flex-start;
    width: 30dvw;
   
  }

  .process {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5dvw;
    justify-content: space-around;
    margin: 6rem;
    width: 80dvw;}

  ol {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 20px;
    line-height: 2.5rem;
    margin-left: 2rem;
    margin-top: -1rem;
    padding: 1rem;
    width: 90dvw;
  }

  section p {
    color: var(--text);
    font-family: var(--title-font);
    font-size: 16px;
    line-height: 2rem;
    width: 80dvw;
    text-wrap: balance;

  }

  .process li {
    border-bottom: 1px solid var(--text);
  }

  a {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 20px;
    margin-top: 2rem;
    text-decoration: none;
  }



  .process {
    margin-top: -2dvh;
  }
  /* section-process end */

  h3 {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 24px;
  }
  

  /* prob */
  .gulp {
   
    max-width: 30dvh;
  }
  /* prob end */

  /* section inspo */
  .plant {
    border-radius: 7px;
    box-shadow: -30px -25px 0px oklch(84.9% 0.0246 180.53);
    margin: 2rem;
    max-width: 65dvw;

  }
  /* inspo end */
  /* log */

  .aroma {
    border-radius: 50%;
    max-width: 60dvw;
    padding: 1rem;
  }
  /* log end */

  /* pattern */
  .leaves {
   border-radius: 7px;
    max-width: 80dvw;
  }
  /* pattern end */

  /* delight */
  .cup {
    border-radius: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem ;
    max-width: 60dvw;
  }
  /* delight end */

  /* Respo */
  .mobile {
    margin-right: -8rem;
    max-width: 90dvw;
  }

  .tablet {
    margin-bottom: -15rem;
    margin-left: -12rem;
    max-width: 50dvw;
  }
  /* Respo end */

  /* GitHub */
  .git {
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 50dvw;
  }
  /* GitHub end */

  /* css */
  .cssi {
    
    max-width: 50dvw;
   
    
  }
  /* css end */

.smell {
  display: flex;
  justify-content: center;
}

.smell a {
  font-size: 32px;
}

 #topbutton {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-bottom: 1rem;
    
   
 }

   /* footer */

   footer {
    background-color: var(--bground);
    border-top: 10px solid var(--text);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  footer p {
    font-size: 12px;
    
  }
  
  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }
  
  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }
  
  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  /* media queries for desktop and large screen (will work on tablet at later time */

@media screen and (min-width: 1026px) and (max-width: 1440px) {

    .navbar {
      background-color: var(--accent) !important;
      height: 15dvh;
    }
  
    .offcanvas-body {
      background-color: var(--accent) !important;
    }
  
    .nav-link:hover,
    .nav-link:focus {
      border: 1px solid var(--elem4);
      color: var(--text);
      
    }
    
  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50dvh;
    justify-content: center;
    margin-top: 65dvh;
  }

   h1 {
    font-size: 72px;
    margin-left: 60dvw;
    width: 100dvw;
  }

  .mu1 {
    margin-top: 6rem;
   margin-bottom: 30rem;
  max-width: 35dvw;
  }
  /* jumbotron end */

  /* main */
  /* section-process */
 


  .process {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 10dvw;
    justify-content: space-around;
    margin: 6rem;
    width: 80dvw;}

  h2 {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 42px;
    margin-bottom: 2rem;
    align-self: flex-start;
    width: 25dvw;
   
  }

  

  ol {
    align-self: flex-end;
    color: var(--text);
    font-family: var(--body-font);
    line-height: 5rem;
    margin-top: -1rem;
    width: 60dvw;

  }

  .process li {
    border-bottom: 1px solid var(--text);
  }

  .process li:hover,
  .process li:focus {
    color: var(--elem4);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    
  }

    
  section {
    align-items: center;
    border-bottom: 2px solid var(--footer) ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0;
    padding: 4rem;
    width: 100dvw;
 
    
  }

  

  section p {
    color: var(--text);
    font-family: var(--title-font);
    font-size: 18px;
    line-height: 2rem;
    padding: 4rem;
    width: 40dvw;
    text-wrap: balance;
    
  }

  /* article {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */

  h3 {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 32px;
  }
  


  a {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 36px;
    margin-top: 2rem;
    text-decoration: none;
  }


  /* section inspo */
  .plant {
    border-radius: 7px;
    box-shadow: -30px -25px 0px oklch(84.9% 0.0246 180.53);
    max-width: 40dvw;

  }
  /* inspo end */

   

  .inspo {
    border-top: 2px solid var(--footer);
  
  }

   /* prob */

   .prob h3,
   .prob p {
    margin-left: 4rem;
   }

   .sonia {
    background-color: var(--elem1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    margin-left: -2rem;
    margin-top: 5rem;
    width: 23dvw;
  
   
    
   }

   .sonia p {
    font-size: 14px;
    margin-left: 0;
    width: 25dvw;

   }

   h4 {
    color: var(--text);
    font-family: var(--title-font);
    font-size: 18px;
    margin-bottom: -2rem;
    margin-left: 3rem;
    margin-top: 1em;
   }

    .gulp {
      border-radius: 7px;
      box-shadow: -30px 25px 0px oklch(52.52% 0.2027 13.75);
      flex-grow: 2;
      margin-top: -3rem;
      max-width: 35dvh;
    }

    .blurb2 {
      margin-left: -4rem;
    }
    /* prob end */

  /* log */

  .log {
    display: grid;
    grid-template-columns: 2dvw 25dvw 50dvw;
    grid-template-rows:  repeat(2, 20dvh);
    grid-template-areas: ". . a"
                         ". b c";
    column-gap: 10dvw;
    margin-top: -2rem;
    row-gap: 10dvh;
  }

  .blurb3 {
    margin-left: 5rem;
  }

  .dots1 {
    grid-area: b;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .log p {
    grid-area: a;
  }


  .dots1 img {
    max-width: 50dvw;
    margin-left: 70dvw;
  }


  /* Charts */

  .blurb4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .patt h3 {
    margin-left: -18rem;
  }

  .patt p {
    margin-left: -2rem;
  }



  .chart1 {
    width: 40dvw;
  }
 
  
 

  /* chart*/

  .patt {
    margin-top: -3rem;
  }

  /* pattern end */

  /* wireframes */

.blurb5 {
  margin-left: 1rem;
}

  .cup {

    margin-top: -1rem;
    margin-bottom: 2rem;
    max-width: 14dvw;
  }

  .wireframes {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7dvw;
    margin-top: 1dvh;
  }
  

  /* delight end */

    
  .git{
    max-width: 20dvw;
  }

  .blurb7 {
    margin-left: -8rem;
  }

  /* Respo */
 
  .respo {
    align-items: center;
    height: 165dvh;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
  }

  
.blurb6 {
  margin-left: -44rem;

}

.list {
  max-width: 50dvw;
}

  .captions {
    margin: 1dvh;
    max-width: 40dvw;
  }

  .respo p {
  
    margin-left: 1rem;

  }




  /* Respo end */

 /* Iter */

 .blurb8 {
  margin-left: -2rem;
 }

 .Iterated img {
  max-width: 40dvw;
 }

 /* Iter end */

  /* css */

  .blurb9 h3,
  .blurb9 p {
    margin-left: -22rem;
  }

  .css {
    border: none;
  }

  .cssi {
   
    max-width: 40dvw;
   
    margin-bottom: 2rem;
  }
  /* css end */


  a:hover,
  a:focus {
    color: var(--elem4);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
   
  }

 #topbutton {
  align-items: flex-end;
  border: 1px solid var(--footer);
  border-radius: 10%;
  display: flex;
    float: right;
    justify-content: center;
    height: 7dvh;
    margin-right: 2rem;
    margin-top: -10rem;
    width: 4dvw;
   
 }

 #topbutton:hover {
  background-color: oklch(60.86% 0.0608 139.44/0.5);;
 }



 /* footer */
    
  footer {
    align-items: center;
    background-color: var(--bground);
    border-top: 10px solid var(--text);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
  }

  footer p {
    font-size: 18px;
    
    
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

}

/* large media */

@media screen and (min-width: 1600px) {
  
  
  .navbar {
    background-color: var(--accent) !important;
  }

  .offcanvas-body {
    background-color: var(--accent) !important;
  }

  .nav-link:hover,
  .nav-link:focus {
    border: 1px solid var(--elem4);
    color: var(--text);
  }

  .navbar {
    background-color: var(--accent) !important;
    height: 15dvh;
  }

  .offcanvas-body {
    background-color: var(--accent) !important;
  }

  .nav-link:hover,
  .nav-link:focus {
    border: 1px solid var(--elem4);
    color: var(--text);
    
  }

  .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 50dvh;
      justify-content: center;
      margin-top: 65dvh;
    }

     h1 {
      font-size: 86px;
      margin-left: 63dvw;
      width: 100dvw;
    }
  
    .mu1 {
      margin-top: 6rem;
     margin-bottom: 30rem;
    max-width: 25dvw;
    }
    /* jumbotron end */
  
    /* main */
    /* section-process */
   


    .process {
      align-items: center;
      border: none;
      display: flex;
      flex-direction: row;
      gap: 10dvw;
      justify-content: space-around;
      margin: 6rem;
      width: 80dvw;}
  
    h2 {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 42px;
      margin-bottom: 2rem;
      align-self: flex-start;
      width: 25dvw;
     
    }

    
  
    ol {
      align-self: flex-end;
      color: var(--text);
      font-family: var(--body-font);
      line-height: 5rem;
      margin-top: -1rem;
      margin-bottom: 8rem;
      width: 60dvw;
  
    }

    .process li {
      border-bottom: 1px solid var(--text);
    }

    .process li:hover,
    .process li:focus {
      color: var(--elem4);
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
      
    }

      
    section {
      align-items: center;
      border-bottom: 2px solid var(--footer) ;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-left: 0;
      padding: 4rem;
      width: 100dvw;
   
      
    }

    

    section p {
      color: var(--text);
      font-family: var(--title-font);
      font-size: 18px;
      line-height: 2rem;
      padding: 4rem;
      width: 40dvw;
      text-wrap: balance;
      
    }

    /* article {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
    } */

    h3 {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 32px;
    }
    


    a {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 36px;
      margin-top: 2rem;
      text-decoration: none;
    }
 
  
    /* section inspo */
    .plant {
      border-radius: 7px;
      box-shadow: -30px -25px 0px oklch(84.9% 0.0246 180.53);
      max-width: 40dvw;
  
    }
    /* inspo end */

     

    .inspo {
      border-top: 2px solid var(--footer);
    
    }

     /* prob */


     .sonia {
      background-color: var(--elem1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      float: right;
      margin-left: -2rem;
      margin-top: 5rem;
      width: 20dvw;
    
     
      
     }

     .sonia p {
      width: 22dvw;
     }

     h4 {
      color: var(--text);
      font-family: var(--title-font);
      margin-bottom: -2rem;
      margin-left: 2rem;
      margin-top: 1em;
     }

      .gulp {
        border-radius: 7px;
        box-shadow: -30px 25px 0px oklch(52.52% 0.2027 13.75);
        flex-grow: 2;
        margin-left: -3dvw;
        margin-top: -3rem;
        max-width: 35dvh;
      }

      .blurb2 {
        margin-left: -4rem;
      }
      /* prob end */

    /* log */
  
    .log {
      display: grid;
      grid-template-columns: 2dvw 25dvw 50dvw;
      grid-template-rows:  repeat(2, 20dvh);
      grid-template-areas: ". . a"
                           ". b c";
      column-gap: 10dvw;
      margin-top: -2rem;
      row-gap: 10dvh;
    }

    .blurb3 {
      margin-left: 4rem;
    }

    .dots1 {
      grid-area: b;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .log p {
      grid-area: a;
    }


    .dots1 img {
      max-width: 40dvw;
      margin-left: 50dvw;
    }


    /* Charts */

    .blurb4 {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .patt h3 {
      margin-left: -28rem;
    }
  
  

    .patt {
      margin-top: -3rem;
    }

    

    /* pattern end */
  
    /* wireframes */
    .cup {

      border-radius: 10%;
      margin-top: 2rem;
      margin-bottom: 2rem ;
      max-width: 10dvw;
    }

    .wireframes {
      display: flex;
      flex-wrap: wrap;
      margin-left: 14dvw;
      margin-top: 6dvh;
    }
    
  
    /* delight end */
  
    /* Respo */
   
    .respo {
      align-items: center;
      height: 150dvh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    

  .blurb6 {
    margin-left: -50rem;
  }

  .list {
    max-width: 40dvw;
  }

    .captions {
      margin: 10dvh;
      max-width: 30dvw;
    }

    .respo p {
    
      margin-left: 1rem;
 
    }

  
    /* Respo end */
    .git{
      max-width: 30dvw;
    }
   /* Iter */

   .Iterated img {
    max-width: 40dvw;
   }

   /* Iter end */
  
    /* css */

    .css {
      border: none;
    }

    .cssi {
     
      max-width: 40dvw;
     
      margin-bottom: 2rem;
    }
    /* css end */

    .smell {
      display: flex;
      justify-content: center;
      
    }

    .smell a {
      font-size: 64px;
    }

    a:hover,
    a:focus {
      color: var(--elem4);
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
     
    }
  
   #topbutton {
    align-items: flex-end;
    border: 1px solid var(--footer);
    border-radius: 10%;
    display: flex;
      float: right;
      justify-content: center;
      height: 7dvh;
      margin-right: 2rem;
      margin-top: -10rem;
      width: 3dvw;
     
   }

   #topbutton:hover {
    background-color: oklch(60.86% 0.0608 139.44/0.5);;
   }

   



 /* footer */
    
  footer {
    align-items: center;
    background-color: var(--bground);
    border-top: 10px solid var(--text);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
  }

  footer p {
    font-size: 18px;
    
    
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

}