:root {
    --body-font: "Source Sans 3", sans-serif, system-ui;
    --title-font: "Playfair Display", serif, system-ui;
    --bground: #11172A;
    --text: #F9F8F3;
    --footer: #11172A;
    --accent: #C9A9A6;
    --secondary-accent: #9CAF88;
    --surface: #9CAF88;
    --secondary-text: #5A5D6B;
    --elem1: #C9A9A6;
    --elem2: #9CAF88;
    --elem3: #C9A9A6;
    --elem4: #9CAF88;

  }
  
  html * {
    box-sizing: border-box;
  }

  body {
    background-color: #FAF8F5;
  }
    
  .navbar {
    background-color: #11172A !important;
    width: 100dvw;
  }
  
  .logo {
    margin-left: 2rem;
    max-width: 150px;
  }

  .nav-link {
    color: #11172A;
    font-size: 1.2rem;
    font-family: var(--title-font);
    margin-top: 0;
    position: relative;
    padding-bottom: 0.25rem;
  }

  .nav-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: var(--elem2);
    transition: width 0.3s ease, left 0.3s ease;
  }

  .nav-link:hover::after {
    width: 100%;
    left: 0;
  }

  /* Mobile offcanvas nav links - light text on dark background */
  .offcanvas .nav-link {
    color: var(--text);
    margin-top: 0;
    padding: 1rem 1.5rem;
  }

  .nav-link.active {
    border-bottom: 2px solid var(--text);
  }
  
  .offcanvas-body {
    background-color: var(--bground);
  
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23F9F8F3' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }

  .navbar-toggler {
    border-color: #F9F8F3;
    color: #F9F8F3;
  }
  
  .offcanvas-header {
    background-color: var(--accent);
  }
  
  /* Navbar end */

  /* jumbotron */

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50dvh;
    justify-content: center;
    margin-top: 6dvh;
    
  }


  .mu1 {
    max-width: 50dvw;
    transform-style: preserve-3d;
    animation: bounceIn 1s ease-out forwards;
    
  }

  @keyframes bounceIn {
    0% {
      transform: scale(0.95) translateY(-10px);
      opacity: 0;
    }
    50% {
      transform: scale(1.02) translateY(2px);
      opacity: 1;
    }
    100% {
      transform: scale(1) translateY(0);
    }
  }


  /* jumbotron end */

  /* main */
  /* section-process */

  section {
    align-items: center;
    border-bottom: 2px solid var(--footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 2rem;
  }

  h1 {
    color: var(--bground);
    font-family: var(--title-font);
    font-size:32px;
    margin-bottom: 2rem;
    margin-right: 3rem;
    margin-top: 2rem;

  }

  h2 {
    color: var(--bground);
    font-family: var(--title-font);
    font-size: 24px;
    margin-bottom: 2rem;
    align-self: flex-start;
    width: 30dvw;

  }

  .process {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: column;
    gap: 5dvw;
    justify-content: space-around;
    margin: -1rem 6rem;
    width: 80dvw;}

  ol {
    color: var(--secondary-text);
    font-family: var(--body-font);
    font-size: 20px;
    line-height: 2.5rem;
    margin-left: 2rem;
    margin-top: -1rem;
    padding: 1rem;
    width: 90dvw;
  }

  section p {
    color: var(--secondary-text);
    font-family: var(--body-font);
    font-size: 16px;
    line-height: 2rem;
    width: 80dvw;
    text-wrap: balance;

  }

  .process li {
    border-bottom: 1px solid rgba(201, 169, 166, 0.3);
  }

  a {
    color: var(--bground);
    font-family: var(--body-font);
    font-size: 20px;
    margin-top: 2rem;
    text-decoration: none;
  }



  
  /* section-process end */

  h3 {
    color: var(--bground);
    font-family: var(--body-font);
    font-size: 24px;
  }

  /* section inspo */
  .plant {
    border-radius: 7px;
    box-shadow: -30px -25px 0px #C9A9A6;
    margin: 2rem;
    max-width: 80dvw;

  }
  /* inspo end */

    /* prob */
    .gulp {
      border-radius: 7px;
        box-shadow: -30px 25px 0px #C9A9A6;
      max-width: 30dvh;
    }

    h4 {
      color: var(--bground);
      font-family: var(--title-font);
      margin-top: 1em;
     }

     .sonia {
      align-items: center;
      background-color: var(--elem1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 2rem;
      width: 58dvw;
      
     }

     .sonia p {
      font-size: 14px;
      margin-left: 0;
      width: 45dvw;
  
     }
    /* prob end */


  /* log */

  .log {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .blurb3 {
    margin-left: 2rem;
  }

  
  .dots1 img {
    max-width: 90dvw;
    margin: 2rem;
   
  }
 /* log end */
 /* pattern */
 .chart1 {
  max-width: 80dvw;
 }
  /* pattern end */

   /* Respo */
 .list {
  margin: 4rem;
  max-width: 90dvw;
 }

 .captions {
  max-width: 80dvw;
 }
  /* Respo end */

  /* delight */
  .cup {
    border-radius: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem ;
    max-width: 40dvw;
  }
  /* delight end */

 

  /* GitHub */
  .git {
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 50dvw;
  }
  /* GitHub end */

  /* iter */
  .stacked {
    margin-bottom: 2rem;
    max-width: 80dvw;
  }
  /* iter end */

  /* css */

  .css {
    border: none;
  }
  .cssi {
    
    max-width: 80dvw;
    transform-style: preserve-3d;
    animation: bounceIn 1s ease-out forwards;
   
    
  }
  /* css end */



  #scrollToTopBtn {
    background-color: var(--bground);
    border: 1px solid var(--footer);
    border-radius: 50%;
    bottom: 60px;
    cursor: pointer;
    display: none;
    right: 55px;
    height: 30px;
    position: fixed;
    width: 30px;
     
   }




   /* footer */

   footer {
    background-color: var(--bground);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  footer p {
    font-size: 12px;

  }

  footer i {
    font-size: 24px;
    transition: all 0.4s ease;
  }

  footer a:hover i {
    transform: scale(1.1) rotate(5deg);
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  /* media queries for desktop and large screen (will work on tablet at later time */

@media screen and (min-width: 1026px) and (max-width: 1440px) {

    .navbar {
      background-color: #11172A !important;
      height: 15dvh;
    }

    .offcanvas-body {
      background-color: #11172A !important;
    }

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50dvh;
    justify-content: center;
    margin-top: 65dvh;
  }

   h1 {
    font-size: 72px;
    margin-left: 60dvw;
    width: 100dvw;
  }

  .mu1 {
    margin-top: 6rem;
   margin-bottom: 30rem;
  max-width: 35dvw;
  }
  /* jumbotron end */

  /* main */
  /* section-process */
 


  .process {
    align-items: center;
    border: none;
    display: flex;
    flex-direction: row;
    gap: 10dvw;
    justify-content: space-around;
    margin: 6rem;
    width: 80dvw;}

  h2 {
    color: var(--bground);
    font-family: var(--title-font);
    font-size: 42px;
    margin-bottom: 2rem;
    align-self: flex-start;
    width: 25dvw;

  }

  

  ol {
    align-self: flex-end;
    color: var(--secondary-text);
    font-family: var(--body-font);
    line-height: 5rem;
    margin-top: -1rem;
    width: 60dvw;

  }

  .process li {
    border-bottom: 1px solid rgba(201, 169, 166, 0.3);
  }

  .process li:hover,
  .process li:focus {
    color: var(--elem4);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    
  }

    
  section {
    align-items: center;
    border-bottom: 2px solid var(--footer) ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 0;
    padding: 4rem;
    width: 100dvw;
 
    
  }

  

  section p {
    color: var(--secondary-text);
    font-family: var(--body-font);
    font-size: 18px;
    line-height: 2rem;
    padding: 4rem;
    width: 40dvw;
    text-wrap: balance;

  }

  /* article {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  } */

  h3 {
    color: var(--bground);
    font-family: var(--title-font);
    font-size: 32px;
  }
  


  a {
    color: var(--bground);
    font-family: var(--body-font);
    font-size: 36px;
    margin-top: 2rem;
    text-decoration: none;
  }


  /* section inspo */
  .plant {
    border-radius: 7px;
    box-shadow: -30px -25px 0px #C9A9A6;
    max-width: 40dvw;

  }
  /* inspo end */

   

  .inspo {
    border-top: 2px solid var(--footer);
  
  }

   /* prob */

   .prob h3,
   .prob p {
    margin-left: 4rem;
   }

   .sonia {
    background-color: var(--elem1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: right;
    margin-left: -2rem;
    margin-top: 5rem;
    width: 23dvw;
    
   }

   .sonia p {
    font-size: 14px;
    margin-left: 0;
    width: 25dvw;

   }

   h4 {
    color: var(--text);
    font-family: var(--title-font);
    font-size: 18px;
    margin-bottom: -2rem;
    margin-left: 3rem;
    margin-top: 1em;
   }

    .gulp {
      border-radius: 7px;
      box-shadow: -30px 25px 0px oklch(52.52% 0.2027 13.75);
      flex-grow: 2;
      margin-top: -3rem;
      max-width: 35dvh;
    }

    .blurb2 {
      margin-left: -4rem;
    }
    /* prob end */

  /* log */

  .log {
    display: grid;
    grid-template-columns: 2dvw 25dvw 50dvw;
    grid-template-rows:  repeat(2, 20dvh);
    grid-template-areas: ". . a"
                         ". b c";
    column-gap: 10dvw;
    margin-top: -2rem;
    row-gap: 10dvh;
  }

  .blurb3 {
    margin-left: 5rem;
  }

  .dots1 {
    grid-area: b;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .log p {
    grid-area: a;
  }


  .dots1 img {
    max-width: 50dvw;
    margin-left: 70dvw;
  }


  /* Charts */

  .blurb4 {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .patt h3 {
    margin-left: -18rem;
  }

  .patt p {
    margin-left: -2rem;
  }



  .chart1 {
    width: 40dvw;
  }
 
  
 

  /* chart*/

  .patt {
    margin-top: -3rem;
  }

  /* pattern end */

  /* wireframes */

.blurb5 {
  margin-left: 1rem;
}

  .cup {

    margin-top: -1rem;
    margin-bottom: 2rem;
    max-width: 14dvw;
  }

  .wireframes {
    display: flex;
    flex-wrap: wrap;
    margin-left: 7dvw;
    margin-top: 1dvh;
  }
  

  /* delight end */

    
  .git{
    max-width: 20dvw;
  }

  .blurb7 {
    margin-left: -8rem;
  }

  /* Respo */
 
  .respo {
    align-items: center;
    height: 165dvh;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
  }

  
.blurb6 {
  margin-left: -44rem;

}

.list {
  max-width: 50dvw;
}

  .captions {
    margin: 1dvh;
    max-width: 40dvw;
  }

  .respo p {
  
    margin-left: 1rem;

  }




  /* Respo end */

 /* Iter */

 .blurb8 {
  margin-left: -2rem;
 }

 .Iterated img {
  max-width: 40dvw;
 }

 /* Iter end */

  /* css */

  .blurb9 h3,
  .blurb9 p {
    margin-left: -22rem;
  }

  .css {
    border: none;
  }

  .cssi {
   
    max-width: 40dvw;
   
    margin-bottom: 2rem;
  }
  /* css end */


  a:hover,
  a:focus {
    color: var(--elem4);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
   
  }

  #scrollToTopBtn {
    align-items: flex-end;
    border: 1px solid var(--footer);
    border-radius: 50%;
    bottom: 50px;
    cursor: pointer;
    display: none;
    right: 420px;
      justify-content: center;
      height: 30px;
      position: fixed;
      width: 30px;
     
   }

   #scrollToTopBtn:hover {
    background-color: rgba(230, 209, 123, 0.5);
   }




 /* footer */
    
  footer {
    align-items: center;
    background-color: var(--bground);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
  }

  footer p {
    font-size: 18px;
    
    
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

}

/* large media */

@media screen and (min-width: 1600px) {
  
  
  .navbar {
    background-color: #11172A !important;
  }

  .offcanvas-body {
    background-color: #11172A !important;
  }

  .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 50dvh;
      justify-content: center;
      margin-top: 65dvh;
    }

     h1 {
      font-size: 86px;
      margin-left: 63dvw;
      width: 100dvw;
    }
  
    .mu1 {
      margin-top: 6rem;
     margin-bottom: 30rem;
    max-width: 25dvw;
    }
    /* jumbotron end */
  
    /* main */
    /* section-process */
   


    .process {
      align-items: center;
      border: none;
      display: flex;
      flex-direction: row;
      gap: 10dvw;
      justify-content: space-around;
      margin: 6rem;
      width: 80dvw;}
  
    h2 {
      color: var(--bground);
      font-family: var(--body-font);
      font-size: 42px;
      margin-bottom: 2rem;
      align-self: flex-start;
      width: 25dvw;

    }

    
  
    ol {
      align-self: flex-end;
      color: var(--secondary-text);
      font-family: var(--body-font);
      line-height: 5rem;
      margin-top: -1rem;
      margin-bottom: 8rem;
      width: 60dvw;

    }

    .process li {
      border-bottom: 1px solid var(--text);
    }

    .process li:hover,
    .process li:focus {
      color: var(--elem4);
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
      
    }

      
    section {
      align-items: center;
      border-bottom: 2px solid var(--footer) ;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-left: 0;
      padding: 4rem;
      width: 100dvw;
   
      
    }

    

    section p {
      color: var(--secondary-text);
      font-family: var(--title-font);
      font-size: 18px;
      line-height: 2rem;
      padding: 4rem;
      width: 40dvw;
      text-wrap: balance;

    }

    /* article {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
    } */

    h3 {
      color: var(--bground);
      font-family: var(--body-font);
      font-size: 32px;
    }
    


    a {
      color: var(--bground);
      font-family: var(--body-font);
      font-size: 36px;
      margin-top: 2rem;
      text-decoration: none;
    }
 
  
    /* section inspo */
    .plant {
      border-radius: 7px;
      box-shadow: -30px -25px 0px #C9A9A6;
      max-width: 40dvw;
  
    }
    /* inspo end */

     

    .inspo {
      border-top: 2px solid var(--footer);
    
    }

     /* prob */


     .sonia {
      background-color: var(--elem1);
      display: flex;
      flex-direction: column;
      justify-content: center;
      float: right;
      margin-left: -2rem;
      margin-top: 5rem;
      width: 20dvw;
    
     
      
     }

     .sonia p {
      font-size: 16px;
      width: 22dvw;
     }

     h4 {
      color: var(--bground);
      font-family: var(--title-font);
      margin-bottom: -2rem;
      margin-left: -9rem;
      margin-top: 1em;
     }

      .gulp {
        border-radius: 7px;
        box-shadow: -30px 25px 0px #C9A9A6;
        flex-grow: 2;
        margin-left: -3dvw;
        margin-top: -3rem;
        max-width: 35dvh;
      }

      .blurb2 {
        margin-left: -4rem;
      }
      /* prob end */

    /* log */
  
    .log {
      display: grid;
      grid-template-columns: 2dvw 25dvw 50dvw;
      grid-template-rows:  repeat(2, 20dvh);
      grid-template-areas: ". . a"
                           ". b c";
      column-gap: 10dvw;
      margin-top: -2rem;
      row-gap: 10dvh;
    }

    .blurb3 {
      margin-left: 4rem;
    }

    .dots1 {
      grid-area: b;
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .log p {
      grid-area: a;
    }


    .dots1 img {
      max-width: 40dvw;
      margin-left: 50dvw;
    }


    /* Charts */

    .blurb4 {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .patt h3 {
      margin-left: -28rem;
    }
  
  

    .patt {
      margin-top: -3rem;
    }

    .chart1 {
      width: 50dvw;
    }

    

    /* pattern end */
  
    /* wireframes */

    .blurb5 {

      margin-left: 1rem;
      margin-top: -5rem;
    }
    .cup {

      border-radius: 10%;
      margin-top: 2rem;
      margin-bottom: 2rem ;
      max-width: 12dvw;
    }

    .wireframes {
      display: flex;
      flex-wrap: wrap;
      margin-left: 14dvw;
      margin-top: 6dvh;
    }
    
  
    /* delight end */
  
    /* Respo */
   
    .respo {
      align-items: center;
      height: 165dvh;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  
    

  .blurb6 {
    margin-left: -50rem;
  }

  .list {
    max-width: 40dvw;
  }

    .captions {
      margin: 10dvh;
      max-width: 30dvw;
    }

    .respo p {
    
      margin-left: 1rem;
 
    }

  
    /* Respo end */
    /* hub */
    .git{
      max-width: 15dvw;
    }
    .blurb7 {
      margin-left: -13rem;
    }
    /* hub end */
   /* Iter */

   .Iterated img {
    max-width: 40dvw;
   }

   /* Iter end */
  
    /* css */

    .css {
      border: none;
    }

    .cssi {
     
      max-width: 40dvw;
     
      margin-bottom: 2rem;
    }
    /* css end */

  

    a:hover,
    a:focus {
      color: var(--elem4);
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
     
    }
  
   #scrollToTopBtn {
    align-items: flex-end;
    border: 1px solid var(--footer);
    border-radius: 50%;
    bottom: 20px;
    cursor: pointer;
    display: none;
    right: 15px;
      justify-content: center;
      height: 3dvh;
      position: fixed;
      width: 1.5dvw;
     
   }

   #scrollToTopBtn:hover {
    background-color: rgba(230, 209, 123, 0.5);
   }

   



 /* footer */
    
  footer {
    align-items: center;
    background-color: var(--bground);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
  }

  footer p {
    font-size: 18px;
    
    
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

}