:root {
    --body-font: "Vidaloka", serif, system-ui;
    --title-font: "Trocchi", serif, system-ui;
    --bground: oklch(96.69% 0.0232 82.12);
    --text: oklch(34.16% 0.0746 237.6);
    --footer: oklch(60.86% 0.0608 139.44);
    --accent: oklch(77.94% 0.1325 60.89);
    --elem1: oklch(84.9% 0.0246 180.53);
    --elem2: oklch(65.02% 0.1025 209.34);
    --elem3: oklch(61.51% 0.0347 230.66);
    --elem4: oklch(52.52% 0.2027 13.75);
  
  }
  
  html * {
    box-sizing: border-box;
  }

  body {
    background-color: var(--bground);
  }
    
  .navbar {
    background-color: var(--accent) !important;
    width: 100dvw;
  }
  
  .logo {
    margin-left: 2rem;
    max-width: 150px;
  }
  
  .nav-link {
    color: var(--text);
    font-size: 1.2rem;
    font-family: var(--title-font);
    margin-top: 4rem;
  }
  
  
  
  .active {
    background-color: var(--elem1);
    border-radius: 8px;
    color: var(--text) !important;
    padding: 10px;
  
  }
  
  .offcanvas-body {
    background-color: var(--bground);
  
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='oklch(34.16% 0.0746 237.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler {
    border-color: oklch(34.16% 0.0746 237.6);
    color: oklch(34.16% 0.0746 237.6);
  }
  
  .offcanvas-header {
    background-color: var(--accent);
  }
  
  /* Navbar end */

  /* jumbotron */

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50dvh;
    justify-content: center;
    margin-top: 6dvh;
  }

  .mu1 {
    margin-top: -2rem;
    max-width: 100dvw;
  }
  /* jumbotron end */

  /* main */
  /* section-process */
  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 4rem 2rem;
  }

  h1 {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 24px;
    margin-bottom: 2rem;
    margin-left: 5dvw;
   
  }

  ol {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 20px;
    line-height: 2.5rem;
    margin-left: 2rem;
    margin-top: -1rem;
    padding: 1rem;
    width: 90dvw;
  }

  section p {
    color: var(--text);
    font-family: var(--title-font);
    font-size: 16px;
    line-height: 2rem;
    width: 80dvw;
    text-wrap: balance;

  }

  a {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 20px;
    margin-top: 2rem;
    text-decoration: none;
  }



  .process {
    margin-top: -5dvh;
  }
  /* section-process end */

  /* prob */
  .gulp {
   
    max-width: 30dvh;
  }
  /* prob end */

  /* section inspo */
  .plant {
    border-radius: 7px;
    box-shadow: -30px -25px 0px oklch(84.9% 0.0246 180.53);
    margin: 2rem;
    max-width: 65dvw;

  }
  /* inspo end */
  /* log */

  .log {
    margin-top: -2rem;
  }

  .aroma {
    border-radius: 50%;
    max-width: 60dvw;
    padding: 1rem;
  }
  /* log end */

  /* pattern */
  .leaves {
   border-radius: 7px;
    max-width: 80dvw;
  }
  /* pattern end */

  /* delight */
  .cup {
    box-shadow: 20px -25px 0px oklch(52.52% 0.2027 13.75);
    border-radius: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem ;
    max-width: 60dvw;
  }
  /* delight end */

  /* Respo */
  .mobile {
    margin-right: -8rem;
    max-width: 90dvw;
  }

  .tablet {
    margin-bottom: -15rem;
    margin-left: -12rem;
    max-width: 50dvw;
  }
  /* Respo end */

  /* GitHub */
  .git {
    border-radius: 10%;
    box-shadow: -20px -25px 0px oklch(61.51% 0.0347 230.66);
    margin-bottom: 2rem;
    max-width: 50dvw;
  }
  /* GitHub end */

  /* css */
  .cssi {
    box-shadow: 15px 20px 0px oklch(65.02% 0.1025 209.34);
    max-width: 50dvw;
    border-radius: 50%;
    margin-bottom: 2rem;
  }
  /* css end */

.smell {
  display: flex;
  justify-content: center;
}

 #topbutton {
    display: flex;
    justify-content: flex-end;
    margin-right: 2rem;
    margin-bottom: 1rem;
    
   
 }

   /* footer */

   footer {
    background-color: var(--bground);
    border-top: 10px solid var(--text);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  footer p {
    font-size: 12px;
    
  }
  
  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }
  
  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }
  
  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  /* media queries for desktop and large screen (will work on tablet at later time */

@media screen and (min-width: 1026px) and (max-width: 1440px) {

    .navbar {
      background-color: var(--accent) !important;
      height: 15dvh;
    }
  
    .offcanvas-body {
      background-color: var(--accent) !important;
    }
  
    .nav-link:hover,
    .nav-link:focus {
      border: 1px solid var(--elem4);
      color: var(--text);
      
    }
    .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 50dvh;
      justify-content: center;
      margin-top: 65dvh;
    }

     h1 {
      font-size: 86px;
      margin-left: 58dvw;
      width: 100dvw;
    }
  
    .mu1 {
      margin-top: -6rem;
     margin-bottom: 20rem;
    max-width: 55dvw;
    }
    /* jumbotron end */
  
    /* main */
    /* section-process */
   


    .process {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 10dvw;
      justify-content: space-around;
      margin: 6rem;
      width: 80dvw;}
  
    h2 {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 42px;
      margin-bottom: 2rem;
      align-self: flex-start;
      width: 25dvw;
     
    }

    
  
    ol {
      align-self: flex-end;
      color: var(--text);
      font-family: var(--body-font);
      line-height: 5rem;
      margin-top: -1rem;
      margin-bottom: 8rem;
      width: 60dvw;
  
    }

    li {
      border-bottom: 1px solid var(--text);
    }

    li:hover,
    li:focus {
      color: var(--elem4);
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
      
    }

      
    section {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 30dvh;
      
    }

    

    section p {
      color: var(--text);
      font-family: var(--title-font);
      font-size: 18px;
      line-height: 2rem;
      padding: 4rem;
      width: 40dvw;
      text-wrap: balance;
      
    }

    article {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h3 {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 32px;
    }
    


    a {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 36px;
      margin-top: 2rem;
      text-decoration: none;
    }
 
  
    /* section inspo */
    .plant {
      border-radius: 7px;
      box-shadow: -30px -25px 0px oklch(84.9% 0.0246 180.53);
      max-width: 20dvw;
  
    }
    /* inspo end */

      /* prob */
      .gulp {
        flex-grow: 2;
        margin-left: -3dvw;
        margin-top: -3rem;
        max-width: 50dvh;
      }
      /* prob end */

    /* log */
  
    .log {
      margin-top: -2rem;
    }

    .aroma {
      flex-grow: 3;
      border-radius: 50%;
      margin-left: -5dvw;
      max-width: 25dvw;
      padding: 4rem;
    }
    /* log end */
  
    /* pattern */

    .patt {
      margin-top: -3rem;
    }

    .leaves {
      flex-grow: 3;
     border-radius: 7px;
      max-width: 25dvw;
      margin-bottom: 4rem;
    }
    /* pattern end */
  
    /* delight */
    .cup {
      flex-grow: 3;
      box-shadow: 20px 25px 0px oklch(52.52% 0.2027 13.75);
      border-radius: 10%;
      margin-top: 2rem;
      margin-bottom: 2rem ;
      max-width: 20dvw;
    }

    
  
    /* delight end */
  
    /* Respo */
    .mobile {
      max-width: 20dvw;
      margin-left: -18rem;
      
    }
  
    .tablet {
      margin-bottom: -5rem;
      margin-left: -2rem;
      margin-right: -2rem;
      max-width: 15dvw;
    }

    .respo p {
    
      margin-left: 1rem;
 
    }
    /* Respo end */
  
    /* GitHub */
    .git {
      border-radius: 10%;
      box-shadow: -20px -25px 0px oklch(61.51% 0.0347 230.66);
      margin-bottom: 2rem;
      max-width: 15dvw;
    }

    .hub p {
      margin-left: -4rem;
    }

    .hub h3 {
      margin-left: -4rem;
    }
    /* GitHub end */
  
    /* css */
    .cssi {
      box-shadow: 15px 20px 0px oklch(65.02% 0.1025 209.34);
      max-width: 20dvw;
      border-radius: 50%;
      margin-bottom: 2rem;
    }
    /* css end */

    .smell {
      display: flex;
      justify-content: center;
      
    }

    .smell a {
      font-size: 64px;
    }

    a:hover,
    a:focus {
      color: var(--elem4);
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
     
    }
  
   #topbutton {
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
      margin-bottom: 1rem;
     
      
     
   }


 /* footer */
    
  footer {
    align-items: center;
    background-color: var(--bground);
    border-top: 10px solid var(--text);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
  }

  footer p {
    font-size: 18px;
    
    
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

}

/* large media */

@media screen and (min-width: 1600px) {
  
  
  .navbar {
    background-color: var(--accent) !important;
  }

  .offcanvas-body {
    background-color: var(--accent) !important;
  }

  .nav-link:hover,
  .nav-link:focus {
    border: 1px solid var(--elem4);
    color: var(--text);
  }

  .navbar {
    background-color: var(--accent) !important;
    height: 15dvh;
  }

  .offcanvas-body {
    background-color: var(--accent) !important;
  }

  .nav-link:hover,
  .nav-link:focus {
    border: 1px solid var(--elem4);
    color: var(--text);
    
  }

  .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 50dvh;
      justify-content: center;
      margin-top: 65dvh;
    }

     h1 {
      font-size: 86px;
      margin-left: 58dvw;
      width: 100dvw;
    }
  
    .mu1 {
      margin-top: -6rem;
     margin-bottom: 20rem;
    max-width: 55dvw;
    }
    /* jumbotron end */
  
    /* main */
    /* section-process */
   


    .process {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 10dvw;
      justify-content: space-around;
      margin: 6rem;
      width: 80dvw;}
  
    h2 {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 42px;
      margin-bottom: 2rem;
      align-self: flex-start;
      width: 25dvw;
     
    }

    
  
    ol {
      align-self: flex-end;
      color: var(--text);
      font-family: var(--body-font);
      line-height: 5rem;
      margin-top: -1rem;
      margin-bottom: 8rem;
      width: 60dvw;
  
    }

    li {
      border-bottom: 1px solid var(--text);
    }

    li:hover,
    li:focus {
      color: var(--elem4);
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
      
    }

      
    section {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 30dvh;
      
    }

    

    section p {
      color: var(--text);
      font-family: var(--title-font);
      font-size: 18px;
      line-height: 2rem;
      padding: 4rem;
      width: 40dvw;
      text-wrap: balance;
      
    }

    article {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h3 {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 32px;
    }
    


    a {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 36px;
      margin-top: 2rem;
      text-decoration: none;
    }
 
  
    /* section inspo */
    .plant {
      border-radius: 7px;
      box-shadow: -30px -25px 0px oklch(84.9% 0.0246 180.53);
      max-width: 20dvw;
  
    }
    /* inspo end */

      /* prob */
      .gulp {
        flex-grow: 2;
        margin-left: -3dvw;
        margin-top: -3rem;
        max-width: 50dvh;
      }
      /* prob end */

    /* log */
  
    .log {
      margin-top: -2rem;
    }

    .aroma {
      flex-grow: 3;
      border-radius: 50%;
      margin-left: -5dvw;
      max-width: 25dvw;
      padding: 4rem;
    }
    /* log end */
  
    /* pattern */

    .patt {
      margin-top: -3rem;
    }

    .leaves {
      flex-grow: 3;
     border-radius: 7px;
      max-width: 25dvw;
      margin-bottom: 4rem;
    }
    /* pattern end */
  
    /* delight */
    .cup {
      flex-grow: 3;
      box-shadow: 20px 25px 0px oklch(52.52% 0.2027 13.75);
      border-radius: 10%;
      margin-top: 2rem;
      margin-bottom: 2rem ;
      max-width: 20dvw;
    }

    
  
    /* delight end */
  
    /* Respo */
    .mobile {
      max-width: 20dvw;
      margin-left: -18rem;
      
    }
  
    .tablet {
      margin-bottom: -5rem;
      margin-left: -2rem;
      margin-right: -2rem;
      max-width: 15dvw;
    }

    .respo p {
    
      margin-left: 1rem;
 
    }
    /* Respo end */
  
    /* GitHub */
    .git {
      border-radius: 10%;
      box-shadow: -20px -25px 0px oklch(61.51% 0.0347 230.66);
      margin-bottom: 2rem;
      max-width: 15dvw;
    }

    .hub p {
      margin-left: -4rem;
    }

    .hub h3 {
      margin-left: -4rem;
    }
    /* GitHub end */
  
    /* css */
    .cssi {
      box-shadow: 15px 20px 0px oklch(65.02% 0.1025 209.34);
      max-width: 20dvw;
      border-radius: 50%;
      margin-bottom: 2rem;
    }
    /* css end */

    .smell {
      display: flex;
      justify-content: center;
      
    }

    .smell a {
      font-size: 64px;
    }

    a:hover,
    a:focus {
      color: var(--elem4);
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
     
    }
  
   #topbutton {
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
      margin-bottom: 1rem;
     
      
     
   }


 /* footer */
    
  footer {
    align-items: center;
    background-color: var(--bground);
    border-top: 10px solid var(--text);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
  }

  footer p {
    font-size: 18px;
    
    
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

}