:root {
    --body-font: "Vidaloka", serif, system-ui;
    --title-font: "Trocchi", serif, system-ui;
    --bground: oklch(96.69% 0.0232 82.12);
    --text: oklch(34.16% 0.0746 237.6);
    --footer: oklch(60.86% 0.0608 139.44);
    --accent: oklch(77.94% 0.1325 60.89);
    --elem1: oklch(84.9% 0.0246 180.53);
    --elem2: oklch(65.02% 0.1025 209.34);
    --elem3: oklch(61.51% 0.0347 230.66);
    --elem4: oklch(52.52% 0.2027 13.75);
  
  }
  
  html * {
    box-sizing: border-box;
  }

  body {
    background-color: var(--bground);
  }
    
  .navbar {
    background-color: var(--accent) !important;
    width: 100dvw;
  }
  
  .logo {
    margin-left: 2rem;
    max-width: 150px;
  }

  
  
  .nav-link {
    color: var(--text);
    font-size: 1.2rem;
    font-family: var(--title-font);
    margin-top: 4rem;
  }
  
  
  .active {
    border-bottom: 2px solid var(--elem2);
    color: var(--text) !important;
    padding: 10px;
  
  }
  
  .offcanvas-body {
    background-color: var(--bground);
  
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='oklch(34.16% 0.0746 237.6)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
  .navbar-toggler {
    border-color: oklch(34.16% 0.0746 237.6);
    color: oklch(34.16% 0.0746 237.6);
  }
  
  .offcanvas-header {
    background-color: var(--accent);
  }
  
  /* Navbar end */

  /* jumbotron */

  .container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50dvh;
    justify-content: center;
    margin-top: 6dvh;
  }

  .mu1 {
    margin-top: -2rem;
    max-width: 100dvw;
  }
  /* jumbotron end */

  /* main */
  /* section-process */

  section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto;
    max-width: 90dvw;
    gap: 2rem;
  }

  h1 {
    color: var(--text);
    font-family: var(--body-font);
    font-size:32px;
    margin-bottom: 2rem;
    margin-left: 5dvw;
    margin-top: 2rem;
   
  }

  h2 {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 24px;
    margin-bottom: 2rem;
    align-self: flex-start;
    width: 30dvw;
   
  }

  .process {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 5dvw;
    justify-content: space-around;
    margin: 6rem;
    width: 80dvw;}

  ol {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 20px;
    line-height: 2.5rem;
    margin-left: 2rem;
    margin-top: -1rem;
    padding: 1rem;
    width: 90dvw;
  }

  section p {
    color: var(--text);
    font-family: var(--title-font);
    font-size: 16px;
    line-height: 1.8;
    max-width: 100%;
    text-wrap: balance;
    margin: 0;
  }

  .process li {
    border-bottom: 1px solid var(--text);
  }

  a {
    color: var(--text);
    font-family: var(--body-font);
    font-size: 20px;
    margin-top: 2rem;
    text-decoration: none;
  }



  .process {
    margin-top: -2dvh;
  }
  /* section-process end */

  h3 {

    color: var(--text);
    font-family: var(--body-font);
    font-size: 24px;
    
  }
  

  /* Images - Mobile: consistent sizing */

  /* prob */
  .gulp {
    max-width: 70dvw;
    height: auto;
  }
  /* prob end */

  /* section inspo */
  .plant {
    border-radius: 7px;
    box-shadow: -30px -25px 0px oklch(84.9% 0.0246 180.53);
    max-width: 70dvw;
    height: auto;
  }
  /* inspo end */

  /* log */
  .aroma {
    border-radius: 50%;
    max-width: 60dvw;
    height: auto;
  }
  /* log end */

  /* pattern */
  .leaves {
    border-radius: 7px;
    max-width: 70dvw;
    height: auto;
  }
  /* pattern end */

  /* delight */
  .cup {
    box-shadow: 20px -25px 0px oklch(52.52% 0.2027 13.75);
    border-radius: 10%;
    max-width: 60dvw;
    height: auto;
  }
  /* delight end */

  /* Respo */
  .mobile {
    max-width: 70dvw;
    height: auto;
  }

  .tablet {
    max-width: 60dvw;
    height: auto;
    margin-bottom: 2rem;
  }
  /* Respo end */

  /* GitHub */
  .git {
    border-radius: 10%;
    box-shadow: -20px -25px 0px oklch(61.51% 0.0347 230.66);
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 50dvw;
  }
  /* GitHub end */

  /* css */
  .cssi {
    box-shadow: 15px 20px 0px oklch(65.02% 0.1025 209.34);
    max-width: 50dvw;
    border-radius: 50%;
    
  }
  /* css end */

.smell {
  display: flex;
  justify-content: center;
}

.smell a {
  font-size: 24px;
}

 
#scrollToTopBtn {
  background-color: var(--bground);
  border: 1px solid var(--footer);
  border-radius: 50%;
  bottom: 60px;
  cursor: pointer;
  display: none;
  right: 55px;
  height: 30px;
  position: fixed;
  width: 30px;
   
 }


   /* footer */

   footer {
    background-color: var(--bground);
    border-top: 10px solid var(--text);
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }
  
  footer p {
    font-size: 12px;

  }

  footer i {
    font-size: 24px;
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  /* media queries for desktop and large screen (will work on tablet at later time */

@media screen and (min-width: 1026px) and (max-width: 1440px) {

    .navbar {
      background-color: var(--accent) !important;
      height: 15dvh;
    }
  
    .offcanvas-body {
      background-color: var(--accent) !important;
    }

    .logo:hover,
  .logo:focus {
    border-bottom: none;
  }
  
    .nav-link:hover,
    .nav-link:focus {
      border-bottom: 1px solid var(--elem4);
      color: var(--text);
      
    }
    .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 50dvh;
      justify-content: center;
      margin-top: 65dvh;
    }

     h1 {
      font-size: 72px;
      margin-left: 52dvw;
      width: 100dvw;
    }
  
    .mu1 {
      margin-top: -6rem;
     margin-bottom: 20rem;
      max-width: 55dvw;
    }
    /* jumbotron end */
  
    /* main */
    /* section-process */
   


    .process {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 10dvw;
      justify-content: space-around;
      margin: 6rem;
      width: 80dvw;}
  
    h2 {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 42px;
      margin-bottom: 2rem;
      align-self: flex-start;
      width: 25dvw;
     
    }

    
  
    ol {
      align-self: flex-end;
      color: var(--text);
      font-family: var(--body-font);
      line-height: 5rem;
      margin-top: -1rem;
      margin-bottom: 8rem;
      width: 60dvw;
  
    }

    .process li {
      border-bottom: 1px solid var(--text);
    }

    .process li:hover,
    .process li:focus {
      color: var(--elem4);
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
      
    }

      
    section {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 6rem auto;
      max-width: 85dvw;
      gap: 4rem;
    }

    

    section p {
      color: var(--text);
      font-family: var(--title-font);
      font-size: 18px;
      line-height: 1.8;
      margin: 0;
      max-width: 100%;
      text-wrap: balance;
    }

    article {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1 1 45%;
      min-width: 45%;
      max-width: 45%;
    }

    h3 {
      border-bottom: 1px solid var(--text);
      color: var(--text);
      font-family: var(--body-font);
      font-size: 32px;
      margin-bottom: 1.5rem;
      padding-bottom: 0.5rem;
      width: 100%;
    }
    


    a {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 36px;
      margin-top: 2rem;
      text-decoration: none;
    }
 
  
    /* Images - Desktop: consistent sizing, no overlaps */

    section img {
      flex: 1 1 45%;
      max-width: 45%;
      min-width: 45%;
      height: auto;
      object-fit: contain;
    }

    /* section inspo */
    .plant {
      border-radius: 7px;
      box-shadow: -30px -25px 0px oklch(84.9% 0.0246 180.53);
    }
    /* inspo end */

    /* prob */
    .gulp {
      /* Inherits from section img */
    }
    /* prob end */

    /* log */
    .aroma {
      border-radius: 50%;
      padding: 2rem;
    }
    /* log end */

    /* pattern */
    .leaves {
      border-radius: 7px;
    }
    /* pattern end */

    /* delight */
    .cup {
      box-shadow: 20px 25px 0px oklch(52.52% 0.2027 13.75);
      border-radius: 10%;
    }
    /* delight end */

    /* Respo */
    .respo {
      flex-direction: column;
    }

    .respo .blurb6 {
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 2rem;
    }

    .mobile {
      max-width: 45%;
      align-self: flex-end;
    }


    /* Respo end */
  
    /* GitHub */
    .git {
      border-radius: 10%;
      box-shadow: -20px -25px 0px oklch(61.51% 0.0347 230.66);
    }
    /* GitHub end */
  
    /* css */
    .cssi {
      box-shadow: 15px 20px 0px oklch(65.02% 0.1025 209.34);
      max-width: 20dvw;
      border-radius: 50%;
      margin-bottom: 2rem;
    }
    /* css end */

    .smell {
      display: flex;
      justify-content: center;
      
    }

    .smell a {
      font-size: 54px;
    }

    a:hover,
    a:focus {
      color: var(--elem4);
      transition-duration: 0.3s;
      transition-timing-function: ease-in;
     
    }
  
    #scrollToTopBtn {
      align-items: flex-end;
      border: 1px solid var(--footer);
      border-radius: 50%;
      bottom: 50px;
      cursor: pointer;
      display: none;
      right: 420px;
        justify-content: center;
        height: 30px;
        position: fixed;
        width: 30px;
       
     }
  
     #scrollToTopBtn:hover {
      background-color: oklch(60.86% 0.0608 139.44/0.5);;
     }
  


 /* footer */
    
  footer {
    align-items: center;
    background-color: var(--bground);
    border-top: 10px solid var(--text);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
  }

  footer p {
    font-size: 18px;
  }

  footer i {
    font-size: 24px;
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

}

/* large media */

@media screen and (min-width: 1600px) {
  
  
  .navbar {
    background-color: var(--accent) !important;
  }

  .offcanvas-body {
    background-color: var(--accent) !important;
  }


  .nav-link:hover,
  .nav-link:focus {
    border-bottom: 1px solid var(--elem4);
    color: var(--text);
  }

   .active {
    pointer-events: none;
}

  .no-hover:hover {
    border-bottom: none;
  }
  
  .navbar {
    background-color: var(--accent) !important;
    height: 15dvh;
  }

  .offcanvas-body {
    background-color: var(--accent) !important;
  }

  
  .container {
      align-items: center;
      display: flex;
      flex-direction: column;
      height: 50dvh;
      justify-content: center;
      margin-top: 65dvh;
    }

     h1 {
      font-size: 86px;
      margin-left: 56dvw;
      width: 100dvw;
    }
  
    .mu1 {
      margin-top: -6rem;
     margin-bottom: 20rem;
    max-width: 55dvw;
    }
    /* jumbotron end */
  
    /* main */
    /* section-process */
   


    .process {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 10dvw;
      justify-content: space-around;
      margin: 6rem;
      width: 80dvw;}
  
    h2 {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 42px;
      margin-bottom: 2rem;
      align-self: flex-start;
      width: 25dvw;
     
    }

    
  
    ol {
      align-self: flex-end;
      color: var(--text);
      font-family: var(--body-font);
      line-height: 5rem;
      margin-top: -1rem;
      margin-bottom: 8rem;
      width: 60dvw;
  
    }

    .process li {
      border-bottom: 1px solid var(--text);
    }

    .process li:hover,
    .process li:focus {
      color: var(--elem4);
      transition-duration: 0.5s;
      transition-timing-function: ease-in;
      
    }

      
    section {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 6rem auto;
      max-width: 80dvw;
      gap: 5rem;
    }

    

    section p {
      color: var(--text);
      font-family: var(--title-font);
      font-size: 20px;
      line-height: 1.8;
      margin: 0;
      max-width: 100%;
      text-wrap: balance;
    }

    article {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      flex: 1 1 45%;
      min-width: 45%;
      max-width: 45%;
    }

    h3 {
      border-bottom: 1px solid var(--text);
      color: var(--text);
      font-family: var(--body-font);
      font-size: 36px;
      margin-bottom: 1.5rem;
      padding-bottom: 0.5rem;
      width: 100%;
    }
    


    a {
      color: var(--text);
      font-family: var(--body-font);
      font-size: 36px;
      margin-top: 2rem;
      text-decoration: none;
    }
 
  
    /* Images - Large screens: consistent sizing, no overlaps */

    section img {
      flex: 1 1 45%;
      max-width: 45%;
      min-width: 45%;
      height: auto;
      object-fit: contain;
    }

    /* section inspo */
    .plant {
      border-radius: 7px;
      box-shadow: -30px -25px 0px oklch(84.9% 0.0246 180.53);
    }
    /* inspo end */

    /* prob */
    .gulp {
      /* Inherits from section img */
    }
    /* prob end */

    /* log */
    .aroma {
      border-radius: 50%;
      padding: 2rem;
    }
    /* log end */

    /* pattern */
    .leaves {
      border-radius: 7px;
    }
    /* pattern end */

    /* steam */
    .cup {
      box-shadow: 20px 25px 0px oklch(52.52% 0.2027 13.75);
      border-radius: 10%;
    }
    /* delight end */

    /* Respo */
    .respo {
      flex-direction: column;
    }

    .respo .blurb6 {
      max-width: 100%;
      min-width: 100%;
      margin-bottom: 2rem;
    }

    .mobile {
      max-width: 45%;
      align-self: flex-end;
    }
    /* Respo end */

    /* GitHub */
    .git {
      border-radius: 10%;
      box-shadow: -20px -25px 0px oklch(61.51% 0.0347 230.66);
    }
    /* GitHub end */
  
    /* css */

    
    /* css end */

    .smell {
      display: flex;
      justify-content: center;
      
    }

    .smell a {
      font-family: var(--body-font);
      font-size: 32px;
      margin-bottom: 2rem;
    }

    a:hover,
    a:focus {
      border-bottom: 1px solid var(--elem4);
      color: var(--text);
      
    }
  
    #scrollToTopBtn {
      align-items: flex-end;
      border: 1px solid var(--footer);
      border-radius: 50%;
      bottom: 20px;
      cursor: pointer;
      display: none;
      right: 15px;
        justify-content: center;
        height: 3dvh;
        position: fixed;
        width: 1.5dvw;
       
     }
  
     #scrollToTopBtn:hover {
      background-color: oklch(60.86% 0.0608 139.44/0.5);;
     }
  


 /* footer */
    
  footer {
    align-items: center;
    background-color: var(--bground);
    border-top: 10px solid var(--text);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 4rem;
  }

  footer p {
    font-size: 18px;
  }

  footer i {
    font-size: 24px;
  }

  .linked {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .mail {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  .resume {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1%;
  }

  footer a:hover {
    border-bottom: none;
  }

}